body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    text-shadow: 2px 2px #00000052;
}

.neontext {
    font-size: 35px;
    position: relative;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    border: 5px;
    border-color: rgb(100, 31, 31);
    padding-bottom: 50px;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px rgb(132, 0, 255),
        0 0 82px rgb(132, 0, 255),
        0 0 92px rgb(132, 0, 255),
        0 0 102px rgb(132, 0, 255),
        0 0 151px rgb(132, 0, 255);
}

.box {
    position: relative;
    width: 80%;
    height: 60%;
    margin: 20px 20px;
    background-color: rgb(54, 14, 77);
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #fff;
    box-shadow:4px 4px rgb(44, 8, 39);
    transition: all 0.5s ease;
    margin-left: auto;
    margin-right: auto;
    box-shadow: rgba(255, 0, 149, 0.342) 2px 2px 4px 2px,
            rgba(255, 0, 191, 0.32) 0px 2px 16px 0px;
}

.box img {
    position: relative;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease;
    border-radius: 10px;
}

.box .judule {
    position: relative;
    top: 0;
    left: 0;
    background-color: rgb(8, 2, 33);
    margin: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.box .judule:hover {
    background-color: rgb(23, 4, 101);
}

.box .judule h5 {
    font-size: 20px;
    color: #fff;
    margin: 5px 5px;
    text-shadow: 2px 2px #00000052;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
}